- unless @apps.blank?
  %h2
    Your registered applications
  %table
    %tr
      %td
        Appname
      %td
        User
      %td
        NewRelic key
    - @apps.each do |app|
      %tr
        %td
          = app.app_name
        %td
          = app.heroku_user
        %td
          = app.newrelic_key

- if current_user
  %h2
    Add your application
  %form{:action => "/", :method => "POST"}
    %p
      %label{:name => "app_name"}
        Heroku's application name
      %input{:type => "text", :name => "app_name"}
    %p
      %label{:name => "heroku_user"}
        Heroku's user name
      %input{:type => "text", :name => "heroku_user"}
    %p
      %label{:name => "heroku_pass"}
        Heroku's password
      %input{:type => "text", :name => "heroku_pass"}
    %p
      %label{:name => "newrelic_key"}
        Newrelic RPM's Licence key
      %input{:type => "text", :name => "newrelic_key"}
    %p
      %input{:type => "submit", :value => "Submit"}
